<div class="container">
  <ngx-spinner [fullScreen]="false" type="ball-clip-rotate-multiple" size="medium">
    <p class="loading" style="color: white;">Loading...</p>
  </ngx-spinner>
  <div *ngIf="recipeInfo !== undefined; else noData">
    <div class="row">
      <div class="col-sm-6 mt-5">
        <h2 class="pt-5">{{ recipeInfo.title }}</h2>
        <img class="pt-5" src='{{ recipeInfo.image }}' alt="Slikca">
      </div>
      <div class="col-sm-6 img mt-5">
        <ul class="pt-5">
          <li>Preparation time: {{ recipeInfo.readyInMinutes }} minutes</li>
          <li>Number of servings: {{ recipeInfo.servings}}</li>
        </ul>
      </div>
    </div>
    <div class="row pt-5">
      <h4 >Instructions:</h4>
      <div *ngIf="recipeInfo.instructions !== null; else summary">
        {{ recipeInfo.instructions }}
      </div>
      <ng-template #summary>
        <div>{{ recipeInfo.summary }}</div>
      </ng-template>
    </div>
    <div class="pt-5 mb-5 button">
      <button id="button" class="btn btn-primary" (click)="addToFavourites()">Add to Favourites</button>
    </div>
  </div>
  <ng-template #noData>
    <div class="mt-5" style="text-align: center;">
      <h2 class="mt-5">Recipe Details</h2>
      <p class="mt-3">No data</p>
    </div>
  </ng-template>
  <div *ngIf="similarRecipes.length > 0">
    <hr>
    <h3 class="mt-5">Similar Recipes</h3>
    <div class="row mt-5 mb-3">
      <div class="col-lg-4 mt-3" *ngFor="let similar of similarRecipes">
        <div class="card" id="card">
          <img class="card-img-top" src="{{ similar.image }}" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">{{ similar.title }}</h5>
            <a class="btn btn-primary mr-2 mb-1" (click)="onClick(similar.id)">See details</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

