.container {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

h2 {
  text-align: center;
}

.card {
  max-width: 45vw;
  margin: 0 auto;
}

#desc {
  text-align: center;
  font-size: 1.2em;
}

#noFavourites {
  text-align: center;
  font-size: 1.2em;
}

