<div class="container mt-5">
  <h2 class="pt-5">Favourites</h2>
  <div class="row mt-5">
    <div class="col-lg-4">
      <div class="card">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Recipe Name</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a [routerLink]="['/details']" class="btn btn-primary">See details</a>
        </div>
      </div>
    </div>
  </div>
</div>
