<div class="container mt-5">
  <h2 class="pt-5">Favourites</h2>
  <p class="mt-5" id="desc" *ngIf="favouriteRecipes !== null; else noFavourites">A list of your favourite recipes</p>
  <button class="btn btn-primary mt-2" [routerLink]="['/']" *ngIf="noFavouriteRecipes">Search recipes</button>
  <ng-template #noFavourites>
    <p class="mt-5" id="noFavourites">You have no favourite recipes yet</p>
    <button class="btn btn-primary mt-2" [routerLink]="['/']">Search recipes</button>
  </ng-template>
  <div class="row mt-5">
    <div class="col-lg-4 mt-3" *ngFor="let favourites of favouriteRecipes">
      <div class="card" id="card">
        <img class="card-img-top" src="{{ favourites.image }}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{ favourites.title }}</h5>
          <p class="card-text" hidden id="recipeId">{{ favourites.id }}</p>
          <p class="card-text">Preparation time: {{ favourites.prepTime }}</p>
          <a class="btn btn-primary mr-2 mb-1" (click)="onClick()">See details</a>
          <a class="btn btn-primary mb-1" (click)="removeFromFavourites(favourites.id)">Remove</a>
        </div>
      </div>
    </div>
  </div>
</div>
