<div>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand pl-5" href="#" [routerLink]="['/']">Recipe Book</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarContent">
      <ul class="navbar-nav ml-auto pr-5">
        <li class="nav-item">
          <a class="nav-link" href="#" [routerLink]="['/']">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Favourites</a>
        </li>
      </ul>
    </div>
  </nav>

  <div style="text-align: center;">
    <h2 class="pt-5">Search recipes</h2>
    <div class="input-group mb-3 pt-3">
      <input type="text" class="form-control input-sm" placeholder="Search" aria-label="" aria-describedby="basic-addon1">
    </div>
  </div>
</div>
