h2 {
  text-align: center;
}

.row {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

img {
  margin-top: 2vh;
}

.search-results {
  width: 100%;
  display: inline-block;
}

.search-results a {
  float: left;
  font-size: 0.8em;
  padding-right: 0;
}

.search-results img {
  float: right;
}

.input-group {
  width: 60%;
  margin: 0 auto;
}

.ng-autocomplete {
  width: 100%;
  margin: 0 auto;
}

@media screen and (max-width: 600px) {
  .input-group {
    width: 80%;
  }
}

@media screen and (min-width: 700px) {
  .search-results a {
    font-size: 1em;
  }
}
