h2 {
  text-align: center;
}

.row {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

img {
  margin-top: 1.5vh;

}

.search-results {
  width: 100%;
  display: inline-block;
}

.search-results a {
  float: left;
  font-size: 0.8em;
}

.search-results img {
  float: right;
}

.input-group {
  width: 70%;
  margin: 0 auto;
}

.ng-autocomplete {
  width: 100%;
  margin: 0 auto;
}
